.EmailRecoveryPage {
    background-color: #fff;
    color: black;
    display: flex;
    align-items: center;

    .PageContent {
        // background-color: red;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;



        .HalfPage {
            //background-color: red;
            display: flex;
            flex-direction: column;
            align-items: center;

            .pHeading {
                // background-color: blue;
                width: 80%;
                display: flex;
                align-items: baseline;
                gap: 3rem;

                .BackBtn {
                    color: #0e4a72;
                    background-color: white;
                    font-size: 30px;
                    font-weight: 700;
                }

                h1 {
                    font-size: 24px;
                    font-weight: 600;
                    color: #0e4a72;
                }
            }

            input {

                width: 80%;
                padding: 10px;
                height: 50px;
                border: 1px solid #E8E8E8;
                border-radius: 10px;
                color: #8e8a8a;
                background-color: #F6F6F6;

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    color: #BDBDBD;
                }

            }

            input.invalid {
                border: 1px solid red;

            }

            .pMiddleContent {
                margin-top: 8rem;
                ///background-color: pink;
                color: #666666;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h1 {
                    color: #22577a;
                    font-size: 24px;
                    font-weight: 600;
                }

                .InPassword {
                    color: red;
                    display: flex;
                    align-self: flex-start;
                    margin-left: 10%;
                }
            }
        }

        .pBottomContent {
            height: 8rem;
            //  background-color: yellow;
            height: 100;
            display: flex;

            justify-content: center;

            // align-items: start;
            button {

                // margin: 40px 0 10px 0;
                width: 80%;
                height: 51px;
                padding: 16px 32px 16px 32px;
                border-radius: 100px;
                background-color: #5DB075;
                font-size: 16px;
                font-weight: 600;

            }
        }
    }
}